.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.padding-small {
  padding: var(--padding-small);
}

.padding-regular {
  padding: var(--padding-regular);
}

.padding-regular-topBottom {
  padding-top: var(--padding-regular);
  padding-bottom: var(--padding-regular);
}

.padding-regular-bottom {
  padding-bottom: var(--padding-regular);
}

.text-left {
  text-align: left;
}

.center-margin {
  margin: 0 auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.weblink {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

@media only screen and (min-width: 990px) {
  .full-width-lg {
    width: 100%;
  }
}
