.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.padding-small {
  padding: var(--padding-small);
}

.padding-small-top {
  padding-top: var(--padding-small);
}

.padding-small-bottom {
  padding-bottom: var(--padding-small);
}

.padding-small-left {
  padding-left: var(--padding-small);
}

.padding-small-leftRight {
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
}

.padding-small-topBottom {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
}

.padding-smaller {
  padding: calc(var(--padding-small) * 0.5);
}

.padding-smaller-top {
  padding-top: calc(var(--padding-small) * 0.5);
}

.padding-smaller-bottom {
  padding-bottom: calc(var(--padding-small) * 0.5);
}

.padding-smaller-left {
  padding-left: calc(var(--padding-small) * 0.5);
}

.padding-smaller-right {
  padding-right: calc(var(--padding-small) * 0.5);
}

.padding-regular {
  padding: var(--padding-regular);
}

.padding-regular-topBottom {
  padding-top: var(--padding-regular);
  padding-bottom: var(--padding-regular);
}

.padding-regular-left {
  padding-left: var(--padding-regular);
}

.padding-regular-right {
  padding-left: var(--padding-regular);
}

.padding-regular-leftRight {
  padding-left: var(--padding-regular);
}

.padding-regular-top {
  padding-top: var(--padding-regular);
}

.padding-regular-bottom {
  padding-bottom: var(--padding-regular);
}

.padding-topBottom-medium-0x5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding-top-medium-0x5 {
  padding-top: 0.5rem;
}

.padding-bottom-medium-0x5 {
  padding-bottom: 0.5rem;
}

.padding-left-medium-0x5 {
  padding-left: 0.5rem;
}

.padding-right-medium-0x5 {
  padding-right: 0.5rem;
}

.padding-1x25rem {
  padding: 1.25rem;
}

.padding-medium-1x3 {
  padding: 1.3rem;
}

.padding-top-medium-1x3 {
  padding-top: 1.3rem;
}

.padding-bottom-medium-1x3 {
  padding-bottom: 1.3rem;
}

.padding-topBottom-medium-1x3 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.padding-left-1x3 {
  padding-left: 1.3rem;
}

.padding-right-1x3 {
  padding-right: 1.3rem;
}

.margin-small {
  margin: var(--padding-small);
}

.margin-small-top {
  margin-top: var(--padding-small);
}

.margin-small-bottom {
  margin-bottom: var(--padding-small);
}

.margin-small-topBottom {
  margin-top: var(--padding-small);
  margin-bottom: var(--padding-small);
}

.margin-small-right {
  margin-right: var(--padding-small);
}

.margin-small-sides {
  margin-left: var(--padding-small);
  margin-right: var(--padding-small);
}

.margin-verysmall {
  margin: var(--padding-very-small);
}

.margin-regular {
  margin: var(--padding-regular);
}

.margin-regular-top {
  margin-top: var(--padding-regular);
}

.margin-regular-bottom {
  margin-bottom: var(--padding-regular);
}

.margin-regular-top-Bottom {
  margin-top: var(--padding-regular);
  margin-bottom: var(--padding-regular);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.push-down {
  transform: translateY(1rem);
}

.text-left {
  text-align: left;
}

.center-margin {
  margin: 0 auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

span.disabledBtn {
  pointer-events: none;
  background: var(--lightGray);
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: not-allowed;
}

.weblink {
  text-decoration: none;
}

.shadow-light {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
}

@media only screen and (min-width: 990px) {
  .full-width-lg {
    width: 100%;
  }
}