.row {
  margin-left: unset;
  margin-right: unset;
}

.content {
  min-height: calc(100vh - 370px);
}

.password-parent{
  position: relative;
}

.password-child-icons{
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
}