:root {
  /* colors */
  --bs-blue: #0d6efd;
  --red: red;
  --yellow: yellow;
  --darkOrange: coral;
  --green: green;
  --lightGray: #d3d3d3;
  --darkGray: #353535;
  /* elements */
  --padding-small: 0.5rem;
  --padding-regular: 2rem;
}
