:root {
  /* colors */
  --bs-blue: #0d6efd;
  --red: red;
  --yellow: yellow;
  --darkOrange: coral;
  --green: green;
  --lightGray: #d3d3d3;
  --darkGray: #353535;
  --white: #fff;
  /* elements */
  --padding-small: 0.5rem;
  --padding-regular: 2rem;
  --padding-very-small: 0.2rem;

  --info-main: #45aaf2;
  --info-darker: #2d98da;
  --paid-main: #26de81;
  --paid-darker: #20bf6b;
  --unpaid-main: #fd9644;
  --unpaid-darker: #fa8231;
  --reminder-main: #a55eea;
  --reminder-darker: #8854d0;
  --cancelled-main: #fc5c65;
  --cancelled-darker: #eb3b5a;
}

@screen-sm: 540px;
@screen-md: 720px;
@screen-lg: 960px;
@screen-xl: 1140px;
@screen-xll: 1320px;
