.alert {
  position: relative;
}

.alert-hide {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.registration_error {
  position: absolute;
  top: 1rem;
  right: 33%;
  cursor: pointer;
  animation: scale-bigger-smaller 5s infinite;
}

.notification {
  padding: 0.5rem 1rem;
  max-width: 40rem;
  min-height: 2.5rem;
  float: right;
  z-index: 1021;

  .notification-content {
    float: left;
  }

  .notification--close {
    float: right;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    padding-left: 1rem;
  }
}