:root {
  /* colors */
  --bs-blue: #0d6efd;
  --red: red;
  --yellow: yellow;
  --darkOrange: coral;
  --green: green;
  --gray: #B0B0B0;
  --lightGray: #d3d3d3;
  --darkGray: #353535;
  --white: #fff;
  /* elements */
  --padding-small: 0.5rem;
  --padding-regular: 2rem;
  --padding-very-small: 0.2rem;
  --info-main: #45aaf2;
  --info-darker: #2d98da;
  --paid-main: #26de81;
  --paid-darker: #20bf6b;
  --unpaid-main: #fd9644;
  --unpaid-darker: #fa8231;
  --reminder-main: #a55eea;
  --reminder-darker: #8854d0;
  --cancelled-main: #fc5c65;
  --cancelled-darker: #eb3b5a;
}
@keyframes scale-bigger-smaller {
  0% {
    transform: scale(1);
    top: 1rem;
  }
  20% {
    transform: scale(1);
    top: 1rem;
  }
  50% {
    transform: scale(1.5);
    top: 2rem;
  }
  80% {
    transform: scale(1);
    top: 1rem;
  }
  100% {
    transform: scale(1);
    top: 1rem;
  }
}
.visibility {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear, height 0s linear 0.33s, width 0s linear 0.33s, margin 0s linear 0.33s;
}
.visibility-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0;
  float: left;
}
.visibility-visible {
  visibility: visible;
  opacity: 1;
  margin: 0 auto;
  float: left;
}
.show-segment--icon img {
  height: 2rem;
  min-width: 2rem;
  cursor: pointer;
}
@media only screen and (min-width: 720px) {
  .visibility-visible {
    width: 50%;
  }
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.padding-small {
  padding: var(--padding-small);
}
.padding-small-top {
  padding-top: var(--padding-small);
}
.padding-small-bottom {
  padding-bottom: var(--padding-small);
}
.padding-small-left {
  padding-left: var(--padding-small);
}
.padding-small-leftRight {
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
}
.padding-small-topBottom {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
}
.padding-smaller {
  padding: calc(var(--padding-small) * 0.5);
}
.padding-smaller-top {
  padding-top: calc(var(--padding-small) * 0.5);
}
.padding-smaller-bottom {
  padding-bottom: calc(var(--padding-small) * 0.5);
}
.padding-smaller-left {
  padding-left: calc(var(--padding-small) * 0.5);
}
.padding-smaller-right {
  padding-right: calc(var(--padding-small) * 0.5);
}
.padding-regular {
  padding: var(--padding-regular);
}
.padding-regular-topBottom {
  padding-top: var(--padding-regular);
  padding-bottom: var(--padding-regular);
}
.padding-regular-left {
  padding-left: var(--padding-regular);
}
.padding-regular-right {
  padding-left: var(--padding-regular);
}
.padding-regular-leftRight {
  padding-left: var(--padding-regular);
}
.padding-regular-top {
  padding-top: var(--padding-regular);
}
.padding-regular-bottom {
  padding-bottom: var(--padding-regular);
}
.padding-topBottom-medium-0x5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.padding-top-medium-0x5 {
  padding-top: 0.5rem;
}
.padding-bottom-medium-0x5 {
  padding-bottom: 0.5rem;
}
.padding-left-medium-0x5 {
  padding-left: 0.5rem;
}
.padding-right-medium-0x5 {
  padding-right: 0.5rem;
}
.padding-1x25rem {
  padding: 1.25rem;
}
.padding-medium-1x3 {
  padding: 1.3rem;
}
.padding-top-medium-1x3 {
  padding-top: 1.3rem;
}
.padding-bottom-medium-1x3 {
  padding-bottom: 1.3rem;
}
.padding-topBottom-medium-1x3 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.padding-left-1x3 {
  padding-left: 1.3rem;
}
.padding-right-1x3 {
  padding-right: 1.3rem;
}
.margin-small {
  margin: var(--padding-small);
}
.margin-small-top {
  margin-top: var(--padding-small);
}
.margin-small-bottom {
  margin-bottom: var(--padding-small);
}
.margin-small-topBottom {
  margin-top: var(--padding-small);
  margin-bottom: var(--padding-small);
}
.margin-small-right {
  margin-right: var(--padding-small);
}
.margin-small-sides {
  margin-left: var(--padding-small);
  margin-right: var(--padding-small);
}
.margin-verysmall {
  margin: var(--padding-very-small);
}
.margin-regular {
  margin: var(--padding-regular);
}
.margin-regular-top {
  margin-top: var(--padding-regular);
}
.margin-regular-bottom {
  margin-bottom: var(--padding-regular);
}
.margin-regular-top-Bottom {
  margin-top: var(--padding-regular);
  margin-bottom: var(--padding-regular);
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.push-down {
  transform: translateY(1rem);
}
.text-left {
  text-align: left;
}
.float-left {
  float: left;
}
.center-margin {
  margin: 0 auto;
}
.hidden {
  display: none;
  visibility: hidden;
}
span.disabledBtn {
  pointer-events: none;
  background: var(--lightGray);
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: not-allowed;
}
.weblink {
  text-decoration: none;
}
.shadow-light {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
}
.text-gray {
  color: var(--gray);
}
.code-space {
  font-size: 2px;
  width: 2px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 990px) {
  .full-width-lg {
    width: 100%;
  }
}
.row {
  margin-left: unset;
  margin-right: unset;
}
.content {
  min-height: calc(100vh - 370px);
}
.password-parent {
  position: relative;
}
.password-child-icons {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
}
.section-form-title strong {
  float: left;
}
.section-form-title .show-segment {
  float: right;
}
.formSectionIndex {
  color: var(--lightGray);
  padding-right: 0.5rem;
}
.padding-correction {
  padding: 0;
}
.color-main {
  color: var(--red);
}
.color-secondary {
  color: var(--yellow);
}
.weblink:focus,
.weblink:hover {
  color: var(--darkOrang) !important;
}
.text-green {
  color: var(--green);
}
.bg-gray {
  background-color: var(--darkGray);
}
.text-blue {
  color: var(--bs-blue);
}
.inline-display > .form-floating,
.inline-display > .save-btn-parent {
  float: left;
}
 > .form-floating {
  width: 80%;
}
 > .save-btn-parent {
  width: 20%;
}
.inline-display > .form-floating,
.inline-display .save-btn-parent {
  float: left;
}
.inline-display > .form-floating {
  width: 80%;
}
.inline-display > .save-btn-parent {
  width: 20%;
}
footer .copyright {
  font-family: Muli, sans-serif;
  color: #d3d3d3;
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  padding: 0.75rem 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  footer .nav {
    display: flex;
    flex-direction: column;
  }
  footer .nav li,
  footer .nav li a {
    text-align: center;
  }
}
.nav-disabled {
  color: var(--gray);
  pointer-events: none;
}
.nav.nav-pills {
  display: flex;
  justify-content: space-evenly;
}
.card .card_top_shade {
  height: 5rem;
  width: 100%;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.card .card-body .form-floating label {
  transform: scale(0.85) translateY(0.5rem) translateX(0.15rem);
}
.card .card-body .form-floating:hover label,
.card .card-body .form-floating:focus label {
  transform: scale(0.66);
}
.card .div-select > .form-select-customLabel {
  transition: transform 1s linear 0.25s, top 1s linear 0.25s, left top 1s linear 0.25s;
}
.card .div-select:hover > .form-select-customLabel {
  left: -0.5rem;
}
.aside-container {
  position: fixed;
  top: 20vh;
  left: 0;
  background: var(--bs-gray-800);
  box-sizing: border-box;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 10;
  transition: all 0.5s linear 0.25s;
}
.aside-container .aside-icon {
  transition: all 0.5s linear 0.25s;
  display: flex;
  box-sizing: border-box;
  color: var(--lightGray);
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.aside-container .aside-icon:hover {
  color: var(--darkOrange);
}
.aside-container .aside-icon:focus {
  color: var(--red);
  transform: translateY(0.4rem);
}
.aside-container .aside-icon:hover .aside-caption,
.aside-container .aside-icon:focus .aside-caption {
  display: block;
  visibility: visible;
  font-family: var(--bs-body-font-family);
}
.aside-container .rotated {
  transform: rotate(180deg);
}
.alert {
  position: relative;
}
.alert-hide {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.registration_error {
  position: absolute;
  top: 1rem;
  right: 33%;
  cursor: pointer;
  animation: scale-bigger-smaller 5s infinite;
}
.notification {
  padding: 0.5rem 1rem;
  max-width: 40rem;
  min-height: 2.5rem;
  float: right;
  z-index: 1021;
}
.notification .notification-content {
  float: left;
}
.notification .notification--close {
  float: right;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding-left: 1rem;
}
/* form elements - start */
form > div {
  float: right;
}
form div.form-floating {
  width: 100%;
}
.form-floating > label,
.div-select > .form-select-customLabel {
  top: -0.5rem;
}
.form-floating label,
.div-select > .form-select-customLabel {
  transition: transform 1s linear 0.25s, top 1s linear 0.25s;
  color: var(--bs-blue);
  font-weight: 600;
}
.form-floating:hover label,
.div-select:hover > .form-select-customLabel {
  transform: scale(0.6);
  top: -0.1rem;
}
.form-floating.preview-form .form-control:focus ~ label,
.form-floating.preview-form .form-control:not(:placeholder-shown) ~ label,
.form-floating.preview-form .form-select ~ label {
  transform: scale(0.85) translateY(0.25rem) translateX(0.25rem);
}
select {
  min-height: 58px;
}
.custom-label-parent {
  position: relative;
}
.custom-label-parent .form-select-customLabel {
  position: absolute;
  top: 0;
  left: 13px;
  font-weight: 500;
  opacity: 0.65;
  font-size: 0.85rem;
}
.blueLabel {
  color: var(--bs-blue);
}
.div-select {
  position: relative;
}
.div-select select {
  line-height: 2rem;
}
select.form-select {
  padding: 0.75rem 2.25rem 0.75rem 0.75rem;
}
.div-select > .form-select-customLabel {
  color: #888;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0.75rem;
  z-index: 10;
}
input#floatingLocation {
  height: 4rem;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.bg-disabled {
  background: var(--lightGray);
}
.disabled .form-check.bg-disabled .form-check-input {
  float: unset;
  margin-left: unset;
}
.height-60px {
  height: 60px;
}
.eventdescriptionform .form-floating {
  width: 100%;
  padding-top: var(--padding-regular);
  padding-bottom: var(--padding-regular);
}
.eventdescriptionform .form-floating label {
  transform: translate(0.5rem, 1.5rem);
  background-color: rgba(255, 255, 255, 0.5);
  height: 1.5rem;
  border-radius: 0.25rem;
  z-index: 10;
}
.eventdescriptionform .form-floating textarea {
  height: 15rem;
}
.form-change-status form {
  display: flex;
  flex-direction: row;
}
.textareas-email .form-floating > .form-control {
  height: unset;
}
@media only screen and (max-width: 559px) {
  .row form .col-sm-12 {
    width: 100%;
  }
}
nav a.nav-link,
nav a.dropdown-item,
footer .nav .nav-item .nav-link {
  font-family: Muli, sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  margin-left: 0px;
  padding: 13px 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: background-color 500ms ease, border 500ms ease, text-shadow 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, border 500ms ease, text-shadow 500ms ease, color 500ms ease;
  direction: ltr;
  color: var(--lightGray);
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 0px;
  text-transform: uppercase;
}
nav a.dropdown-item {
  color: #000;
}
nav {
  border-bottom: 1px solid #353535;
}
@media only screen and (max-width: 450px) {
  nav.navbar .navbar-brand {
    width: calc(90% - 60px);
  }
}
@media only screen and (max-width: 350px) {
  nav.navbar .logo {
    max-width: calc(100% - 30px);
  }
}
@media only screen and (min-width: 990px) {
  li.nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  .setupnav {
    display: flex;
    flex-direction: column;
  }
}
.pagination li {
  padding: 0.1rem;
}
.table-event-data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table-event-data thead {
  text-align: center;
}
.table-event-data td,
.table-event-data th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table-event-data tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-event-data tbody tr:hover {
  background-color: #ddd;
  cursor: grab;
}
.table-event-data th,
.table-event-data tfoot tr {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media only screen and (min-width: 1050px) {
  .footable-details.table.search_project_table tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footable-details.table.search_project_table tbody > tr {
    padding: 3px 3px;
    border-bottom: 1px solid #000;
    align-content: stretch;
    justify-content: space-around;
  }
  .footable-details.table.search_project_table tbody > tr th,
  .footable-details.table.search_project_table tbody > tr td {
    border-bottom-width: 0;
    word-wrap: normal;
  }
}
@media only screen and (min-width: 1050px) and (max-width: 1400px) {
  .footable-details.table.search_project_table tbody > tr {
    min-width: 48%;
    width: 48.1%;
    max-width: 48.2%;
  }
}
@media only screen and (min-width: 1401px) {
  .footable-details.table.search_project_table tbody > tr {
    min-width: 32%;
    width: 32.1%;
    max-width: 32.2%;
  }
}
@media (min-width: 576px) {
  .modal .modal-dialog {
    max-width: 60vw;
    width: 60vw;
  }
}
.modal.show .modal-footer button {
  display: flex;
  align-items: center;
  margin-left: var(--padding-small);
  margin-right: var(--padding-small);
}
.modal.show .modal-footer .modal-footer-buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.tiles {
  padding: var(--padding-small);
  border-radius: 0.25rem;
}
.tiles-info {
  background: var(--info-main);
  border: 3px solid var(--info-darker);
}
.tiles-paid {
  background: var(--paid-main);
  border: 3px solid var(--paid-darker);
}
.tiles-unpaid {
  background: var(--unpaid-main);
  border: 3px solid var(--unpaid-darker);
}
.tiles-reminder {
  background: var(--reminder-main);
  border: 3px solid var(--reminder-darker);
}
.tiles-cancelled {
  background: var(--cancelled-main);
  border: 3px solid var(--cancelled-darker);
}
.pills-width {
  min-width: 100px;
}
@media only screen and (min-width: 600px) {
  .custom-container {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .custom-container {
    max-width: 80vw;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1600px) {
  .custom-container {
    max-width: 70vw;
  }
}
@media only screen and (min-width: 1601px) {
  .custom-container {
    max-width: 60vw;
  }
}
