:root {
  /* colors */
  --bs-blue: #0d6efd;
  --red: red;
  --yellow: yellow;
  --darkOrange: coral;
  --green: green;
  --lightGray: #d3d3d3;
  --darkGray: #353535;
  /* elements */
  --padding-small: 0.5rem;
  --padding-regular: 2rem;
}
@keyframes scale-bigger-smaller {
  0% {
    transform: scale(1);
    top: 1rem;
  }
  20% {
    transform: scale(1);
    top: 1rem;
  }
  50% {
    transform: scale(1.5);
    top: 2rem;
  }
  80% {
    transform: scale(1);
    top: 1rem;
  }
  100% {
    transform: scale(1);
    top: 1rem;
  }
}
.visibility {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear, height 0s linear 0.33s, width 0s linear 0.33s, margin 0s linear 0.33s;
}
.visibility-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0;
  float: left;
}
.visibility-visible {
  visibility: visible;
  opacity: 1;
  margin: 0 auto;
  float: left;
}
.show-segment--icon img {
  height: 2rem;
  min-width: 2rem;
  cursor: pointer;
}
@media only screen and (min-width: 720px) {
  .visibility-visible {
    width: 50%;
  }
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.padding-small {
  padding: var(--padding-small);
}
.padding-regular {
  padding: var(--padding-regular);
}
.padding-regular-topBottom {
  padding-top: var(--padding-regular);
  padding-bottom: var(--padding-regular);
}
.padding-regular-top {
  padding-top: var(--padding-regular);
}
.padding-regular-bottom {
  padding-bottom: var(--padding-regular);
}
.text-left {
  text-align: left;
}
.center-margin {
  margin: 0 auto;
}
.hidden {
  display: none;
  visibility: hidden;
}
.weblink {
  text-decoration: none;
}
@media only screen and (min-width: 990px) {
  .full-width-lg {
    width: 100%;
  }
}
.row {
  margin-left: unset;
  margin-right: unset;
}
.content {
  min-height: calc(100vh - 370px);
}
.color-main {
  color: var(--red);
}
.color-secondary {
  color: var(--yellow);
}
.weblink:focus,
.weblink:hover {
  color: var(--darkOrang) !important;
}
.text-green {
  color: var(--green);
}
.bg-gray {
  background-color: var(--darkGray);
}
footer .copyright {
  font-family: Muli, sans-serif;
  color: #d3d3d3;
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  padding: 0.75rem 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  footer .nav {
    display: flex;
    flex-direction: column;
  }
  footer .nav li,
  footer .nav li a {
    text-align: center;
  }
}
.alert {
  position: relative;
}
.alert-hide {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.registration_error {
  position: absolute;
  top: 1rem;
  right: 33%;
  cursor: pointer;
  animation: scale-bigger-smaller 5s infinite;
}
/* form elements - start */
form > div {
  float: right;
}
form div.form-floating {
  width: 100%;
}
.form-floating > label,
.div-select > .form-select-customLabel {
  top: -0.5rem;
}
.form-floating label,
.div-select > .form-select-customLabel {
  transition: transform 1s linear 0.25s, top 1s linear 0.25s;
  color: var(--bs-blue);
  font-weight: 600;
}
.form-floating:hover label,
.div-select:hover > .form-select-customLabel {
  transform: scale(0.6);
  top: -0.1rem;
}
select {
  min-height: 58px;
}
.div-select {
  position: relative;
}
.div-select select {
  line-height: 2rem;
}
select.form-select {
  padding: 0.75rem 2.25rem 0.75rem 0.75rem;
}
.div-select > .form-select-customLabel {
  color: #888;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0.75rem;
  z-index: 10;
}
input#floatingLocation {
  height: 4rem;
}
@media only screen and (max-width: 559px) {
  .row form .col-sm-12 {
    width: 100%;
  }
}
nav a.nav-link,
nav a.dropdown-item,
footer .nav .nav-item .nav-link {
  font-family: Muli, sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 8px;
  margin-left: 0px;
  padding: 13px 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: background-color 500ms ease, border 500ms ease, text-shadow 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, border 500ms ease, text-shadow 500ms ease, color 500ms ease;
  direction: ltr;
  color: var(--lightGray);
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 0px;
  text-transform: uppercase;
}
nav a.dropdown-item {
  color: #000;
}
nav {
  border-bottom: 1px solid #353535;
}
@media only screen and (max-width: 450px) {
  nav .navbar .navbar-brand {
    width: calc(100% - 60px);
  }
}
@media only screen and (min-width: 990px) {
  li.nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
